<div class="Container dist">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
            <div class="card-body">
                <h2 class="card-title centralizar">Lista de Carros</h2>
                    <div class="direita">
                    <button type="button" class="btn btn-primary" routerLink="/admin/carro/new">Novo</button>
                    </div>
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Cor</th>
                            <th>Ano</th>
                            <th>Preço</th>
                            <th class="centralizar">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (carro of lista(); track $index) {
                        <tr>
                            <td>{{carro.id}}</td>
                            <td>{{carro.modelo}}</td>
                            <td>{{carro.marca.nome}}</td>
                            <td>{{carro.cor}}</td>
                            <td>{{carro.ano}}</td>
                            <td>{{carro.preco | number:'1.2-2'}}</td>
                            <td>
                                <div class="centralizar">
                                    <button type="button" class="btn btn-primary" routerLink="/admin/carro/edit/{{carro.id}}">Editar</button>
                                    <button type="button" class="btn btn-danger" (click)="deletar(carro.id)">Deletar</button>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        
    </div>
</div>