@use 'mdb-angular-ui-kit/assets/scss/mdb';
.centralizar{
    text-align: center;
}

.esquerda{
    text-align: esquerda;
}

.direita{
    text-align: direita;
}

body{
    background-color: #cacaca;
}